@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@font-face {
  font-family: Browler;
  src: url("./../fonts/Bowler.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

:root {
  --font-family-main: Browler, sans-serif;

  --main-background: #292929;
  --menu-background: #393939;

  --block-background: rgba(168, 0, 0, 0.5);

  --primary-title-color: rgba(255, 255, 255, 0.7);

  --primary-subtitle-color: rgba(168, 0, 0, 0.5);

  --primary-text-color: #ffffff;
  --secondary-text-color: rgba(168, 0, 0, 0.9);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background: var(--main-background);
  color: var(--primary-text-color);
  font-family: var(--font-family-main);
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.nav {
  background: var(--main-background);
  width: 100%;
  min-height: 100%;
  z-index: 2;
  position: absolute;
  &__row {
    padding: 37px 0 44px;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__title {
    text-align: center;
    font-size: 48px;
    flex: 1;
    color: var(--primary-subtitle-color);
  }
  &__list {
    padding: 40px 31px 60px;
  }
  &__items {
    font-size: 24px;
    padding-bottom: 20px;
    position: relative;
    &:not(:first-child) {
      margin-top: 30px;
    }
    &::before {
      content: "";
      width: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
    }
  }
  &__link {
    color: var(--primary-text-color);
  }
  &__footer {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    width: 195px;
    line-height: 1.2;
  }
}
.anim__items {
  display: none;
  &.active {
    display: block;
    animation: animOpacity 0.5s ease;
  }
}

@keyframes animOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  min-height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  padding: 0 30px;
}

.header {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-title-color);
    font-size: 7px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 1.54px;
    height: 20px;
    > span {
      font-size: 20px;
      line-height: 26px;
    }
    > .em-28 {
      letter-spacing: 4px;
    }
  }
  &__burger-menu {
    display: flex;
    width: 25px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  &__item {
    width: 25px;
    height: 2px;
    background: #fff;
  }
}

.main {
  &__text {
    margin: 169px 0 180px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding: 30px 0 0;
    text-align: right;
    color: var(--primary-title-color);
    > span {
      font-size: 80px;
    }
  }
}

.footer {
  &__button {
    width: 100%;
    background: var(--block-background);
    border-radius: 90px;
    width: 320px;
    margin: 0px auto 15px;
    padding: 15px 67px 8px 23px;
    color: var(--primary-text-color);
    display: block;
    font-weight: 400;
    font-size: 32px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 23px;
      top: 11px;
      width: 34px;
      height: 34px;
      background: url("../assets/icon__phone.svg") center no-repeat;
    }
  }
  &__nav {
    width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 10px 147px;
    font-size: 20px;
    line-height: 22px;
  }
  &__link {
    color: #a5a5a5;
  }
}

.about {
  &__info-block {
    padding: 20px 25px;
    background: var(--primary-subtitle-color);
    width: 250px;
    height: 130px;
    margin: 23px -30px 30px 0px;
    font-size: 14px;
    > span {
      font-size: 40px;
    }
  }
  &__row {
    display: flex;
    justify-content: flex-end;
  }
  &__info-text {
    color: #fcfcfc;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.4;
  }
  &__list {
    margin: 25px 0 0 25px;
    padding-bottom: 49px;
  }
  &__items {
    list-style-type: disc;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 500;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.price-list {
  padding: 23px 0 0;
  &__items {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  &__title {
    color: var(--primary-subtitle-color);
    font-size: 32px;
  }
  &__subtitle {
    color: #a8a8a8;
    font-size: 7px;
    font-family: Montserrat;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__price {
    margin: 0 -30px 0 60px;
  }
  &__price-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      padding-bottom: 47px;
    }
  }
  &__text {
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 500;
  }
  &__right {
    text-align: center;
    font-size: 16px;
    color: var(--secondary-text-color);
    padding: 3px 25px 3px 5px;
    background: rgba(255, 255, 255, 0.5);
    width: 125px;
  }
  &__subtext {
    color: #f6f6f6;
    font-size: 5px;
    margin-top: 4px;
    font-family: Montserrat;
  }
}

.team {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 23px 0 47px;
  }
  &__items {
    width: calc(50% - 5px);
    height: 226px;
    background: var(--primary-subtitle-color);
    padding: 25px 15px;
    margin-bottom: 10px;
  }
  &__title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
    height: 55px;
  }
  &__text {
    color: #989898;
    text-align: center;
    font-size: 10px;
    font-family: Montserrat;
  }
}

.contacts {
  &__info-block {
    margin: 23px 0 40px;
    padding: 85px 0 85px 20px;
    background: url("../assets/contacts__back.png") no-repeat;
    background-size: cover;
  }
  &__text {
    font-size: 24px;
    margin-bottom: 20px;
    &:nth-child(even) {
      text-decoration: underline;
    }
  }
  .red {
    color: var(--secondary-text-color);
  }
}

.licenses {
  padding: 40px 30px;
}
.licenses__title {
  color: #fbfbfb;
  text-align: center;
  font-size: 32px;
  opacity: 0.3;
}
.licenses__subtitle {
  color: #aeaeae;
  font-size: 10px;
  font-family: Montserrat;
  margin: 10px 0 20px;
}
.licenses__block {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  padding-bottom: 40px;
}
.licenses__img {
  width: 126px;
}
.licenses__list-cert {
  display: flex;
  column-gap: 29px;
  justify-content: center;
  padding-top: 30px;
}
.licenses__cert-item {
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(217, 217, 217, 0);
  padding: 15px 1px 20px 1px;
}
.licenses__cert-title {
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.licenses__cert-text {
  color: #898989;
  text-align: center;
  font-size: 10px;
  font-family: Montserrat;
}

.services {
  padding: 23px 30px;
}
.services__list {
  display: flex;
  column-gap: 20px;
}
.services__item {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.services__img {
  width: 60px;
  height: 60px;
}
.services__text {
  text-align: center;
  color: #ededed;
  font-size: 10px;
  max-width: 100px;
}
.services__title {
  color: #fff;
  font-size: 24px;
  opacity: 0.5;
  width: 250px;
  text-transform: uppercase;
  padding: 40px 0 30px;
}
.services__activity-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 30px;
}
.services__activity-item {
  color: #fff;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
  list-style: disc;
}

.technical {
  padding: 40px 30px;
}
.technical__list {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-right: -30px;
  margin-bottom: 47px;
}
.technical__item {
  display: flex;
  column-gap: 10px;
}
.technical__number {
  color: rgba(168, 0, 0, 0.7);
  text-align: right;
  font-size: 20px;
  width: 35px;
  text-align: right;
}
.technical__text {
  color: #373636;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
}
.technical__title {
  color: rgba(255, 255, 255, 0.71);
  text-align: center;
  font-size: 20px;
  padding: 40px 0 20px;
}
.technical__info-list {
  padding: 15px 15px 25px 25px;
  background: rgba(168, 0, 0, 0.5);
  display: flex;
  max-width: 350px;
  margin-left: -30px;
  flex-direction: column;
  row-gap: 20px;
}
.technical__info-item {
  width: 310px;
}
.technical__info-title {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
}
.technical__info-text {
  color: #fff;
  text-align: right;
  font-size: 9px;
  font-family: Montserrat;
}
